<div class="row">
  <div class="col-3 mb-4" *ngFor="let product of loadedProducts">
    <div class="card">
      <div class="card-body">
        <div class="img-wrapper">
          <img src="../assets/images/1.svg" alt="img">
          <div class="sale">-25%</div>
          <div class="product-actions">
            <a href="" class="compare"></a>
            <a href="" class="like"></a>
          </div>
        </div>
        <h5 class="card-title text">{{ product.model }}</h5>
        <p class="price">{{ product.averagePrice }}</p>
        <a href="#" class="btn btn-primary">
          Перейти к покупке
        </a>
      </div>
    </div>
  </div>
</div>
